.map {
    overflow: auto !important;
    height: 667px;
    top:0;
}

.gm-style .gm-style-iw-c {
    border-radius: 0px !important;
    color: black;
}

.gm-style-iw button {
    display: none !important;
}

.card {
    background-color: black;
    height: 250px;
    /* background-color: #FFFFFF; */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);  
    bottom: 0; 
}
