.map-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
.map {
    overflow: auto !important;
    height: 100vh;
}

.gm-style .gm-style-iw-c {
    border-radius: 0px !important;
    color: black;
}

.gm-style-iw button {
    display: none !important;
}

@media (max-width: 767px) {
    .is-table-view .map-wrapper {
        display: none;
    }
}