.map {
    overflow: auto !important;
    width: 500px;
    height: 350px;
}

.gm-style .gm-style-iw-c {
    border-radius: 0px !important;
    color: black;
}

.gm-style-iw button {
    display: none !important;
}
