.react-icon {
    display: flex;
    align-items: center;
    padding: 12px;
}

.react-icon svg {
    margin: 13px 3px 13px 9px;
    width: 30px;
    height: 30px;
    color: #838BB2;
}

.react-icon span {
    color: #838BB2;
    margin-left: 10px;
}